@import url(https://db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);

:root {
  --primary: rgb(231, 231, 231);
  --secondary: rgb(245, 250, 255);
  --secondary-hover: rgba(41, 7, 191, 0.1);
  --max-width: 56rem;
}

* {
  box-sizing: border-box;
}

span {
  color: #333;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  height: 10vh;
}

tr td {
  color: #333;
}

.banner {
  background-image: url("banner2.png");
  width: 100%;
  background-size: cover;
}

#nav {
  border-top: solid 1px #000;
  padding: 0.47rem;
  text-align: center;
}

header {
  padding: 0px !important;
}

.infoText, header, .content {
  background-color: #eee;
  color: #333;
  padding: 10px;
  margin: 0 0 10px 0;
  border: solid 1px #000;
}

.banner a span, .banner span {
  color: #eee !important;
  margin-bottom: 5px !important;
}

body,
header h1 {
  color: var(--primary);
}

body {
  font-family: 'Comic Sans MS';
  -webkit-text-size-adjust: 100%;
  text-align: left;
  margin: 1rem;
  background-color: #558fda;
}

input {
  font-family: 'Comic Sans MS';
}

.main,
header,
footer {
  margin: auto;
  max-width: var(--max-width);
  line-height: 1.3;
}

header {
  margin-bottom: 1rem;
}

header.desc,
header h1 .hl {
  color: #000;
}

code {
  color: #000;
}

header .desc,
header h1 {
  margin: 0;
}

footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

footer .footer-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
}

.all-tags {
  text-align: center;
}

.tagsList {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

:not(td)>.tagsList:not(.single) {
  justify-content: center;
}

:not(td)>.tagsList {
  margin: 1rem 0;
}

.tagTitle,
.tagsList li {
  display: inline-block;
  color: var(--secondary);
  border: 0.1em solid #000;
  padding: 0.1em 0.4rem;
}

.tagsList li a {
  text-decoration: none;
}

.chroma {
  margin: 0;
}

:not(.lntd)>.chroma {
  padding: 0.3rem;
}

pre {
  overflow-x: auto;
  position: relative;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: .25em solid var(--secondary);
}

.tableList td,
.tableList th {
  padding: 0.35rem 0.4rem;
  width: 50%;
}

td a {
  color: #333 !important;
}

a {
  text-decoration: none;
}

tr {
  border: 1px solid #000;
}

.tableList tr:hover td {
  background-color: var(--secondary-hover);
}


.tagsList li {
  background-color: #558fda !important;
  color: #eee;
}

.tagsList li a {
  color: #eee !important;
}

#tableListBody {
  background-color: var(--primary);
}

:not(pre)>code {
  background-color: #f0f0f0;
  padding: 0.1rem 0.2rem;
}

.searchBox input {
  width: 100%;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 1rem;
}

.searchBox input:focus {
  outline: 0.1em solid var(--secondary);
}

.searchBox {
  margin: 1rem 0;
}

header h1 img {
  height: 1.5rem;
}

.content table td,
.content table th {
  border: 1px solid #000;
}

.content .gist table td {
  border: initial;
}

.content table th {
  background: var(--secondary-hover);
}

img {
  max-width: 100%;
}

.chroma .hl {
  display: flex;
}

.chroma table.lntable {
  display: block;

}

.chroma .lntable .lntd:last-of-type {
  width: 100%;
}

.four-o-four {
  text-align: center;
  font-size: 2rem;
}
