<header>
  <h1 class="banner">
    <a href="{{ "" | absURL }}">
      {{ with site.Params.TitleIcon }}<img src="{{ . | absURL }}" alt="{{ site.Title }}">{{ end }}
      <img src="/logo.svg" class="center">
    </a>
  </h1>
</header>
